@model BHDT.Model.LoaiThanhVien

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Danh sách Loại Thành Viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

        <dt>
            Ưu đãi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UuDai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaLoaiTV }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
