@model IEnumerable<testTC.Models.LoaiSanPham>
<h3 class="category__heading">
    <i class="category__heading-icon fas fa-list"></i> Danh Mục
</h3>
<ul class="category-list">
    @foreach (var cat in Model)
    {


    <li class="category-item category-item--active">

        <a href="~/@cat.MaLoaiSP" class="category-item__link">@cat.TenLoai</a>

        <ul class=" category-list1 category-list1-active">
            <li class="category-list-item"><a href="#" class="category-item__link1">CodingUI</a></li>
            <li class="category-list-item"><a href="#" class="category-item__link1">CodingUI</a></li>
            <li class="category-list-item"><a href="#" class="category-item__link1">CodingUI</a></li>
            <li class="category-list-item"><a href="#" class="category-item__link1">CodingUI</a></li>
        </ul>
    </li>
    <li class="category-item category-item--active">
        <a href="#" class="category-item__link">Linh Kiện</a>
        <ul class="category-list1 category-list1-active">
            <li class="category-list-item"><a href="#" class="category-item__link1">CodingUI</a></li>
            <li class="category-list-item"><a href="#" class="category-item__link1">CodingUI</a></li>
            <li class="category-list-item"><a href="#" class="category-item__link1">CodingUI</a></li>
            <li class="category-list-item"><a href="#" class="category-item__link1">CodingUI</a></li>
        </ul>
    </li>
    <li class="category-item category-item--active">
        <a href="#" class="category-item__link">Phụ Kiện</a>
        <ul class="category-list1 category-list1-active">
            <li class="category-list-item"><a href="#" class="category-item__link1">CodingUI</a></li>
            <li class="category-list-item"><a href="#" class="category-item__link1">CodingUI</a></li>
            <li class="category-list-item"><a href="#" class="category-item__link1">CodingUI</a></li>
            <li class="category-list-item"><a href="#" class="category-item__link1">CodingUI</a></li>
        </ul>
    </li>
    <li class="category-item category-item--active">
        <a href=" # " class="category-item__link ">Máy tính bàn</a>
    </li>
    <li class="category-item category-item--active ">
        <a href="# " class="category-item__link ">Linh Kiện Máy Bộ</a>
    </li>
    }
</ul>
  